%script#metronome-view{ type: 'text/template' }
  .row
    .col-md-2.col-md-offset-1.text-center
      %h3 Metronome
      %input.form-control.metronome-bpm{ value: 60 }
      .metronome-toggle.btn-primary.btn-wider Play
    .col-md-6
      %h3.text-center Presets (bpm)
      .presets
        .btn-preset-bpm 40
        .btn-preset-bpm 48
        .btn-preset-bpm 56
        .btn-preset-bpm 64
        .btn-preset-bpm 72
        .btn-preset-bpm 80
        .btn-preset-bpm 86
        .btn-preset-bpm 92
        .btn-preset-bpm 98
        .btn-preset-bpm 104
    .col-md-2
      %h3 &nbsp;
      .btn-speedup Auto Speedup
