%script#metronome-view{ type: 'text/template' }
  .row
    .col-md-2.col-md-offset-1.text-center
      %h3 Metronome
      %input.form-control.metronome-bpm{ value: 60 }
      .metronome-toggle.btn-primary.btn-wider Play
    .col-md-6
      %h3.text-center Presets (bpm)
      .presets
        .btn-preset-bpm 40
        .btn-preset-bpm 52
        .btn-preset-bpm 64
        .btn-preset-bpm 76
        .btn-preset-bpm 88
        .btn-preset-bpm 100
        .btn-preset-bpm 120
        .btn-preset-bpm 140
        .btn-preset-bpm 160
        .btn-preset-bpm 180
    .col-md-2
      %h3 &nbsp;
      .btn-speedup Auto Speedup
