%script#tabs-view{ type: 'text/template' }
  %table.table.tabs-table
    %thead
      %tr
        %th Song
        %th Artist
        %th Tab URL
        %th
        %th Sessions
        %th Minutes
        %th
        %th
    %tbody
      %tr
        %td.text-center{ colspan: 8 }
          .btn-small.btn-primary.add-tab Add Tab

%script#tab-view{ type: 'text/template' }
  %td
    .editable{ data: { attr: 'song' } } {{= song }}
  %td
    .editable{ data: { attr: 'artist' } } {{= artist }}
  %td
    .editable{ data: { attr: 'url' } }
      {{= url }}
  %td
    %a.url-button.pull-right{ data: { url: '{{= url}}' } } Go!
  %td
    .editable.text-center{ data: { attr: 'sessions_completed' } } {{= sessions_completed }}
  %td
    .editable.text-center{ data: { attr: 'total_minutes' } } {{= total_minutes }}
  %td
    .btn-sm.btn-secondary.save-tab Save
  %td
    .btn-sm.btn-delete.remove-tab{ data: { url: '{{= url}}' } } Del
