%script{ type: 'text/template', id: 'app-view' }
  .app
    .row
      .col-md-12
        .app-list.text-center
          %ul.list-inline
            %li
              .btn-app{ data: { app: 'Tabs'} } My Tabs
            %li
              .btn-app{ data: { app: 'Visualization' } } Visualization
            %li
              .btn-app{ data: { app: 'Schedule' } } Practice Helper
            %li
              .btn-app{ data: { app: 'Config' } } Config
    %br
    .row
      .col-md-12
        .view-header
        .view
