%script{ type: 'text/template', id: 'app-view' }
  .app
    .row
      .col-md-12
        .app-list.text-center
          %ul.list-inline
            %li
              .btn-app{ data: { app: 'tabs'} } My Tabs
            %li
              .btn-app{ data: { app: 'visualization' } } Visualization
            %li
              .btn-app{ data: { app: 'scheduler' } } Practice Helper
            %li
              .btn-app{ data: { app: 'config' } } Config
    %br
    .row
      .col-md-12
        .view-header
        .view
