%script{ type: 'text/template', id: 'config_template' }
  %h3 Choose a schedule to edit, or
  .btn.btn-primary.inline Add
  a new one!
  .config
    .schedule-list


%script{ type: 'text/template', id: 'schedule_config_template' }
  .Schedule Config

%script{ type: 'text/template', id: 'schedule_items_config_template' }
  Schedule Items

%script{ type: 'text/template', id: 'schedule_item_config_template' }
  Schedule Item
