%script{ type: 'text/template', id: 'config_template' }
  %h3 Choose a schedule to edit, or
  .btn.btn-primary.inline Add
  a new one!
  .config
    .schedule-list


%script{ type: 'text/template', id: 'schedule_config_template' }
  %legend Schedule Config
  .schedule.col-md-8.form-horizontal
    .form-group
      %label.control-label.col-md-4 Name
      .col-md-4
        %input.schedule-attribute.form-control{ value: '{{= json.name }}' }
    .form-group
      %label.control-label.col-md-4 Duration
      .col-md-4
        %input.form-control.schedule-attribute{ value: '{{= json.duration }}' }
    .form-group
      %label.control-label.col-md-4 Break Time
      .col-md-4
        %input.form-control.schedule-attribute{ value: '{{= json.name }}' }
    .form-group
      .col-md-4.col-md-offset-4
        .btn.btn-primary Submit


%script{ type: 'text/template', id: 'schedule_items_config_template' }
  Schedule Items

%script{ type: 'text/template', id: 'schedule_item_config_template' }
  Schedule Item
