%script{ type: 'text/template', id: 'config_template' }
  .row
    .col-md-10.col-md-offset-1
      %h3 Configuration
      .config
        .schedule-list


%script{ type: 'text/template', id: 'schedule_config_template' }
  .schedule.col-md-8.form-horizontal
    .form-group
      %label.control-label.col-md-4 Name
      .col-md-4
        %input.schedule-attribute.form-control{ data: { attribute: 'name' }, value: '{{= json.name }}' }
    .form-group
      %label.control-label.col-md-4 Duration
      .col-md-4
        %select.duration{ data: { attribute: 'duration' } }
          :plain
            {{ _.each(json.durations, function (duration) { }}
            {{ var selected = duration.selected ? 'selected="selected"' : '' }}
            <option value="{{= duration.value }}" {{= selected }}>{{= duration.display }}</option>
            {{ }); }}
    .form-group
      %label.control-label.col-md-4 Break Time
      .col-md-4
        %input.form-control.schedule-attribute{ data: { attribute: 'break_time' }, value: '{{= json.break_time }}' }
    .form-group
      .col-md-4.col-md-offset-4
        .btn.btn-primary Submit


%script{ type: 'text/template', id: 'schedule_items_config_template' }
  Schedule Items

%script{ type: 'text/template', id: 'schedule_item_config_template' }
  Schedule Item
