%script#tabs-view{ type: 'text/template' }
  %table.table.tabs-table
    %thead
      %tr
        %th.song-column Song
        %th.artist-column Artist
        %th.tab-url-column Tab URL
        %th
        %th
        %th
    %tbody
      %tr
        %td.text-center{ colspan: 8 }
          .btn-small.btn-primary.add-tab Add Tab

%script#tab-view{ type: 'text/template' }
  %td
    %input.form-control{ value: '{{= song }}', data: { attr: 'song' } }
  %td
    %input.form-control{ value: '{{= artist }}', data: { attr: 'artist' } }
  %td
    %input.form-control{ value: '{{= url }}', data: { attr: 'url' } }
  %td
    %a.url-button.pull-right{ data: { url: '{{= url}}' } } Go!
  %td
    .btn-sm.btn-secondary.save-tab Save
    .btn-sm.btn-delete.remove-tab{ data: { url: '{{= url}}' } } Del
