%script#tabs-view{ type: 'text/template' }
  %table.table.tabs-table
    %thead
      %tr
        %th Song
        %th Artist
        %th Tab URL
        %th Sessions
        %th Minutes
        %th
    %tbody
      %tr
        %td.text-center{ colspan: 7 }
          .btn.btn-small.btn-success.add-tab Add Tab

%script#tab-view{ type: 'text/template' }
  %td
    .editable.song {{= song }}
  %td
    .editable.artist {{= artist }}
  %td
    .editable.url= link_to '{{= url }}', '{{= url }}', target: '_blank'
  %td
    .editable.sessions-completed {{= sessions_completed }}
  %td
    .editable.total-minutes {{= total_minutes }}
  %td
    .btn.btn-sm.btn-success.save-tab Save
  %td
    .btn.btn-sm.btn-danger.remove-tab{ data: { url: '{{= url}}' } } Del
