%script#tabs-view{ type: 'text/template' }
  .well.well-sm.text-center
    %h2 Tab App
    %p Double click on a cell to edit.
  %table.table.tabs-table
    %thead
      %tr
        %th Song
        %th Artist
        %th Tab URL
        %th
        %th Sessions
        %th Minutes
        %th
        %th
    %tbody
      %tr
        %td.text-center{ colspan: 8 }
          .btn.btn-small.btn-success.add-tab Add Tab

%script#tab-view{ type: 'text/template' }
  %td
    .editable.song {{= song }}
  %td
    .editable.artist {{= artist }}
  %td
    .editable.url
      {{= url }}
  %td
    %a.url-button.pull-right{ data: { url: '{{= url}}' } } Go!
  %td
    .editable.sessions-completed.text-center {{= sessions_completed }}
  %td
    .total-minutes.text-center {{= total_minutes }}
  %td
    .btn.btn-sm.btn-success.save-tab Save
  %td
    .btn.btn-sm.btn-danger.remove-tab{ data: { url: '{{= url}}' } } Del
