%script#tab-view{ type: 'text/template' }
  .tab-row ------------------------------------------
  .tab-row ------------------------------------------
  .tab-row ------------------------------------------
  .tab-row ------------------------------------------
  .tab-row ------------------------------------------
  .tab-row ------------------------------------------
