%script#tabs-view{ type: 'text/template' }
  %table.table.tabs-table
    %thead
      %tr
        %th Song
        %th Artist
        %th Tab URL
        %th Sessions
        %th Minutes
        %th
    %tbody
      %tr
        %td.text-center{ colspan: 6 }
          .btn.btn-small.btn-success.add-tab Add Tab

%script#tab-view{ type: 'text/template' }
  %tr.tab-row
    %td {{= song }}
    %td {{= artist }}
    %td {{= url }}
    %td {{= sessions_completed }}
    %td {{= total_minutes }}
    %td
      .btn.btn-sm.btn-danger.remove-tab x
