- @about = 'active'

.row
  .col-md-8.col-md-offset-2
    %h1 About

    %p This website was started as a way for its creator (a disorganized guitarist) to have all his practice materials at one central location.  This site will allow the user to structure practices exactly as they see fit for themselves, rather than prescribing a "one-size-fits-all" routine for everybody.
    %p There are always ways to improve the site - if there is something you'd like to see on here, send an email to jbowler2400 at gmail dot com.
    %p
      %strong Enjoy!
