- @home = 'active'

.row
  .col-md-10.col-md-offset-1
    %h3.text-center Welcome to Self Taught Music!
    %hr
    %p This tool should help self-taught musicians organize their practice time in a more optimal way.
.row
  .col-md-10.col-md-offset-1
    %h3 Practice tips
    %ul
      %li Don't practice any single exercise too long.  I spend about 10-15 minutes on a topic before taking a short break and then moving on to another activity
      %li Always do warm ups before practicing things that require big stretches or fast playing
      %li Anticipate what sounds you will hear when playing.  The end goal is being able to play what you hear in your head.
.row
  .col-md-10.col-md-offset-1
    %br
    %br
    %blockquote.blockquote-reverse
      %p You know what music is?  God's little reminder that there is something else besides us in this universe; harmonic connection between all living beings, every where, even the stars.
      %footer Robin Williams
