- @home = 'active'

.row
  .col-md-10.col-md-offset-1
    %h1 Welcome to Self Taught Music!
    %p Yes, there are a billion websites out there that outline guitar practices or provide examples of things to work on.  Unfortuantely, I always find myself jumping from site to site in order to find all the practice material I am looking for.  The primary goal of this site is to provide lots of exercises in an easily accessible interface.
.row
  .col-md-10.col-md-offset-1
    %h3 Practice tips
    %ul
      %li Don't practice any single thing too long.  I spend about 10-15 minutes on a topic before taking a short break and then moving on to another activity
      %li Always do warm ups before practicing things that require big stretches or fast playing
      %li Listen to what you are playing.  You will be surprised how much you can improve by simply being able to hum whatever you are playing
