- @home = 'active'

.row
  .col-md-8.col-md-offset-2
    %h3.text-center Welcome to Self Taught Music!
    %hr
    %p This tool helps musicians organize their practice time in a more optimal way.  The tool allows you to select your available time and a list of activities to practice.  After weighting the activities by importance, the time is divied up and you can practice without having to worry about when to change focus!
    .text-center= image_tag 'example-picture-2.png'
%br
.row
  .col-md-8.col-md-offset-2
    %br
    %br
    %blockquote.blockquote-reverse
      %small
        %p You know what music is?  God's little reminder that there is something else besides us in this universe; harmonic connection between all living beings, every where, even the stars.
        %footer Robin Williams
