%script#visualization-view{ type: 'text/template' }
  .visualization-app.text-center
    .btn-group
      .btn.btn-sm.btn-default{ data: { activity: 'notes' } } Notes
      .btn.btn-sm.btn-default{ data: { activity: 'frets' } } Frets
    %br
    %br
    .activity
      Visualize the note location in your head - and click next to cycle to the next note.
    .display
    %input.slider-track{ data: { slider_min: 0, slider_max: 10, slider_step: 1, slider_orientation: 'vertical' }, type: 'text' }
