%script#visualization-view{ type: 'text/template' }
  .visualization-app
    .activity
      Visualize the note location in your head, and adjust the speed as needed.
    .display
    %input.slider-track{ data: { slider_min: 0, slider_max: 10, slider_step: 1, slider_orientation: 'vertical' }, type: 'text' }
