%script#visualization-view{ type: 'text/template' }
  .visualization-app.text-center
    .activity
      Visualize the note in your head and say it's name.
    .display
      .string{ data: { str: 'e' } }
      .string{ data: { str: 'B' } }
      .string{ data: { str: 'G' } }
      .string{ data: { str: 'D' } }
      .string{ data: { str: 'A' } }
      .string{ data: { str: 'E' } }
    .timer
      %p Delay (s)
      %input.form-control.delay{ value: 4.0 }
