%script#visualization-view{ type: 'text/template' }
  .well.well-sm.text-center
    %h2 Visualization Exercises
    %p Improve your knowledge of the fretboard.
  .visualization-container
    Blah Blah Blah
