%script{ type: 'text/template', id: 'config_template' }
  .config
    This is my template for the configuration woohoo!
    .schedule-config
    .schedule-items-config


%script{ type: 'text/template', id: 'schedule_config_template' }
  .Schedule Config

%script{ type: 'text/template', id: 'schedule_items_config_template' }
  Schedule Items

%script{ type: 'text/template', id: 'schedule_item_config_template' }
  Schedule Item
