%script#schedules-view{ type: 'text/template' }
  .schedules

%script#schedule-view{ type: 'text/template' }
  .schedule
    .row
      .col-md-6
        %h3 {{= name }} ({{= total_time }} min)
        %table.table.schedule-table
          %thead
            %tr
              %th Activity
              %th Importance
          %tbody
      .col-md-6.text-center
        .schedule-timer

%script#schedule-item-view{ type: 'text/template' }
  %td {{= name }}
  %td {{= importance }}

%script#schedule-timer{ type: 'text/template' }
  %h3.activity-name.text-center
  .timer
  %br
  %br
  .btn-primary.toggle Pause
  .btn-primary.next-activity Next
