%script#schedules-view{ type: 'text/template' }
  .schedules

%script#schedule-view{ type: 'text/template' }
  .schedule
    .row
      .col-md-1
      .col-md-3
        %h3.name{ contenteditable: true } {{= name }}
      .col-md-3
        %span Total Time:
        %select.duration
          :plain
            {{ _.each(durations, function (duration) { }}
            {{ var selected = duration.selected ? 'selected="selected"' : '' }}
            <option value="{{= duration.value }}" {{= selected }}>{{= duration.display }}</option>
            {{ }); }}
    .row
      .col-md-5.col-md-offset-1
        .schedule-items
      .col-md-3.col-md-offset-1.text-center
        .schedule-timer

%script#schedule-items-view{ type: 'text/template' }
  %table.table.schedule-table
    %thead
      %tr
        %th Activity
        %th Importance
    %tbody

%script#schedule-item-view{ type: 'text/template' }
  %td.schedule-item-name {{= name }}
  %td
    .schedule-item-importance{ contenteditable: true } {{= importance }}

%script#schedule-timer{ type: 'text/template' }
  %h3.activity-name.text-center
  .timer
  %br
  %br
  .btn-primary.prev-activity <<
  .btn-primary.next-activity >>
