%script#schedules-view{ type: 'text/template' }
  .schedules

%script#schedule-view{ type: 'text/template' }
  .schedule
    .row
      .col-md-5.col-md-offset-1
        %h3.text-center
          %span.name{ contenteditable: true } {{= name }}
          %span -
          %span.duration{ contenteditable: true } {{= duration }}
          min
        .small-text.text-center (click numbers to edit)
        %table.table.schedule-table
          %thead
            %tr
              %th Activity
              %th Importance
          %tbody
      .col-md-3.col-md-offset-1.text-center
        .schedule-timer

%script#schedule-item-view{ type: 'text/template' }
  %td.schedule-item-name {{= name }}
  %td
    .schedule-item-importance{ contenteditable: true } {{= importance }}

%script#schedule-timer{ type: 'text/template' }
  %h3.activity-name.text-center
  .timer
  %br
  %br
  .btn-primary.prev-activity <<
  .btn-primary.next-activity >>
