%script#schedules-view{ type: 'text/template' }
  .schedules

%script#schedule-view{ type: 'text/template' }
  .row
    .col-md-6
      .schedule
        %h4.text-center {{= name }}
        %table.table.schedule-table
          %thead
            %tr
              %th Activity
              %th Duration
          %tbody


%script#schedule-item-view{ type: 'text/template' }
  %td {{= name }}
  %td {{= importance }}
