%script#schedules-view{ type: 'text/template' }
  .schedules
    %h3 Your Schedules

%script#schedules-view{ type: 'text/template' }
  %h1 My Schedules

%script#schedule-view{ type: 'text/template' }
  %h4 Schedule: {{= name }}
  %table.table
    %tr
      %th Activity
      %th Importance


%script#schedule-item-view{ type: 'text/template' }
  %tr
    %td {{= name }}
    %td {{= importance }}
