@import 'bootstrap.min';
@import 'colors';
@import 'buttons';
@import 'layout';
@import 'header';
@import 'footer';
@import 'tabs';
@import 'metronome';
@import 'visualization';
@import 'schedule';

html, body {
  height: 100%;
  min-height: 100%;
}

.app-wrapper {
  background-color: $white;
  color: $site-text-color;
  min-height: 100%;
  overflow: auto;
  margin-bottom: -$footer-height;
  padding-bottom: $footer-height;
}

.container {
  width: $site-width !important;
}

.app-content {
  background: $white;
  padding: $content-padding;
  margin-bottom: $margin-default;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 4px;
}
