@import 'colors';
@import 'layout';
@import 'header';
@import 'footer';
@import 'tabs';
@import 'bootstrap.min';

html, body {
  height: 100%;
  min-height: 100%;
}

.app-wrapper {
  background-color: $site-bg;
  min-height: 100%;
  overflow: auto;
  margin-bottom: -$footer-height;
  padding-bottom: $footer-height;
}

.container {
  width: $site-width !important;
}

.app-content {
  border-radius: $content-border-radius;
  background: $content-bg;
  padding: $content-padding;
  margin-bottom: $margin-default;
}
