@import 'bootstrap.min';
@import 'colors';
@import 'buttons';
@import 'layout';
@import 'header';
@import 'footer';
@import 'tabs';
@import 'metronome';
@import 'visualization';
@import 'schedule';

html, body {
  height: 100%;
  min-height: 100%;
}

.app-wrapper {
  background-color: $white;
  color: $site-text-color;
  min-height: 100%;
  overflow: auto;
  margin-bottom: -$footer-height;
  padding-bottom: $footer-height;
}

.container {
  width: $site-width !important;
}

.app-content {
  background: $white;
  padding: $content-padding;
  margin-bottom: $margin-default;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 4px;
}

.activity {
  width: 500px;
}

.exercise-input {
  border: 0;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.total-time {
  display: inline-block;
  margin: 0 auto;
  padding: 3px 6px;
  background: #777;
  color: #FF6;
  font-family: 'Courier';
  border-radius: 3px;
}

.activity-timer {
  margin: 0 auto;
  padding-top: 35px;
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 4px;
  background: $blue-lightest;
  vertical-align: middle;
}

.form-control {
  padding: 0;
}

.importance-slider {
  // width: 150px !important;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 4.8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #428bca;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 18px;
  width: 16px;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #5697d0;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #428bca;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 18px;
  width: 16px;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #357ebd;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #428bca;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 18px;
  width: 16px;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #428bca;
}
input[type=range]:focus::-ms-fill-upper {
  background: #5697d0;
}

