$min-button-width: 80px;

.btn-wider {
  min-width: $min-button-width;
}

.btn-primary {
  @extend .btn;

  background: $gray-darker;
  color: $white;
  border: 1px solid black;

  &:hover {
    background: black;
  }
}

.btn-default {
  background: #ccc;
}

.btn-secondary {
  @extend .btn;

  background: $gray;
  color: $white;
  border: 1px solid black;

  // &:hover {
  //   background:
  // }
}

.btn-tertiary {
  @extend .btn;

  background: $yellow-lighter;
  color: black;

  &:hover {
    background: $yellow;
  }
}

.btn-quaternary {
  @extend .btn;

  background: $lavendar-darker;
  color: white;

  &:hover {
    background: $lavendar;
  }
}

// app specific buttons
.btn-delete {
  @extend .btn;

  background: $red-dull;
  color: $white;
}

.btn-app {
  @extend .btn-primary;
}

.btn-preset-bpm {
  @extend .btn-tertiary;

  border: none;
}

.btn-speedup {
  @extend .btn-delete;
}
