$min-button-width: 80px;

.btn-wider {
  min-width: $min-button-width;
}

.btn-primary {
  @extend .btn;

  background: $blue-lighter;
  color: $white;
}

.btn-secondary {
  @extend .btn;

  background: $blue-lightest;
  color: $white;
}

.btn-tertiary {
  @extend .btn;

  background: $yellow-lighter;
  color: black;

  &:hover {
    background: $yellow;
  }
}

.btn-quaternary {
  @extend .btn;

  background: black;
  color: white;

  &:hover {
    color: $gray-lighter;
  }
}

.btn-delete {
  @extend .btn;

  background: $lavendar-darker;
  color: $white;
}

// app specific buttons
.btn-preset-bpm {
  @extend .btn-tertiary;
}

.btn-speedup {
  @extend .btn-quaternary;
}
