// color definitions
$white: white;
$almost-white: #efefef;
$blue: #336699;
$blue-lighter: lighten($blue, 10%);
$blue-lightest: lighten($blue-lighter, 30%);
$gray: #666666;
$gray-darker: darken($gray, 50%);
$gray-lighter: lighten($gray, 50%);
$secondary-color: rgba(230, 230, 100, 1);
$yellow: #ffff66;
$light-yellow: lighten($yellow, 20%);
$red: #ff1111;
$red-dull: darken($red, 10%);
$lavendar: #E6E6FA;

// site stuff
$header-bg: $blue;
$header-bg-lighter: $blue-lighter;
$header-text-color: $white;
$header-text-active-color: $blue-lightest;

$site-bg: $gray-lighter;
$site-text-color: $gray-darker;
$content-bg: $white;

$footer-bg: $gray;

$tab-unsaved-bg: $light-yellow;

$visualization-display-bg: $blue-lighter;
$visualization-display-color: $yellow;
