// color definitions
$black: black;
$white: white;
$almost-white: #f5f5f5;
$blue: #336699;
$blue-darker: darken($blue, 10%);
$blue-darkest: darken($blue, 20%);
$blue-lighter: lighten($blue, 20%);
$blue-lightest: lighten($blue-lighter, 15%);
$gray: #666666;
$gray-darker: darken($gray, 20%);
$gray-lighter: lighten($gray, 50%);
$gray-lightest: lighten($gray, 75%);
$secondary-color: rgba(230, 230, 100, 1);
$yellow: #ffff66;
$yellow-darker: darken($yellow, 50%);
$yellow-lighter: lighten($yellow, 15%);
$red: #ff2222;
$red-dull: darken($red, 10%);
$lavendar: #E6E6FA;
$lavendar-darker: darken($lavendar, 20%);

// site stuff
$header-bg: $gray-darker;
$header-bg-lighter: $blue-lighter;
$header-text-color: $gray-lighter;
$header-text-active-color: $yellow-lighter;

$site-bg: $almost-white;
$site-text-color: $gray-darker;
$content-bg: $white;

$footer-bg: $gray-darker;

$tab-unsaved-bg: $yellow-lighter;

$visualization-display-bg: $blue-lightest;
$visualization-display-color: $yellow-darker;
