.metronome-title {
  @extend h3;
  display: inline-block;
  margin: 0 $margin-default 0 0;
}

input.metronome-bpm {
  width: 50px;
  display: inline-block;
}

.metronome-toggle {
  display: inline-block;
}
