.schedule {
  h3 {
    padding: 6px;
    color: $blue;
  }

  .duration {
    min-width: 36px;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 3px;
  }

  .small-text {
    font-size: 10px;
    margin: -5px 0 5px;
  }

  .timer {
    margin: 0 auto;
    padding: 10px;
    border-radius: 4px;
    font-family: courier;
    font-size: 44px;
    display: inline-block;

    background: $blue-darkest;
    color: $yellow-lighter;
  }
}
