.schedule {
  h3 {
    padding: 6px;
    color: $blue;
  }

  .timer {
    margin: 0 auto;
    padding: 10px;
    border-radius: 4px;
    font-family: courier;
    font-size: 44px;
    display: inline-block;

    background: $blue-darker;
    color: $yellow-lighter;
  }
}
