$description-width: 150px;

$visualization-width: 500px;
$visualization-height: 200px;

$slider-width: 150px;

.visualization-app {
  .activity {
    // height: $visualization-height;
    width: $description-width;
    margin-left: -$description-width;
    display: inline-block;
  }

  .display {
    // width: $visualization-width;
    height: $visualization-height;
    padding: $margin-default;
    text-align: center;
    background: $visualization-display-bg;
    color: yellow;
    font-size: 20px;
    font-family: courier;
    display: inline-block;
    border-radius: $content-border-radius / 2;
  }
}
