$description-width: 150px;

$visualization-width: 500px;
$visualization-height: 200px;

$slider-width: 150px;

$timer-width: 60px;

.visualization-app {
  .activity {
    height: $visualization-height;
    width: $description-width;
    margin-left: -$description-width;
    display: inline-block;
    vertical-align: top;
    padding-top: $visualization-height / 2 - 34px;
  }

  .display {
    // width: $visualization-width;
    height: $visualization-height;
    padding: $margin-default;
    text-align: center;
    background: $visualization-display-bg;
    color: yellow;
    font-size: 20px;
    font-family: courier;
    display: inline-block;
    border-radius: $content-border-radius / 2;
  }

  .timer {
    height: $visualization-height;
    vertical-align: top;
    padding-top: $visualization-height / 2 - 34px;
    display: inline-block;
    margin-right: -$timer-width;

    .delay {
      width: 50px;
    }
  }
}
